/*standard ting*/
section {
    max-width: 1200px;
    margin: auto;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 100%;
}

body {
    margin: 0px;
}

/*burgermenu*/

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(100%);

    opacity: 0;
}


#menuknap {
    display: inline-block;
    cursor: pointer;
    color: white;
    position: absolute;
    right: .5rem;
    font-size: 2rem;


}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
    position: absolute;
    background-color: white;
    text-align: right;
    width: 100%;
    top: 1.5rem;
    padding: 0;
}

/*styling af nav/header*/


#menu a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    line-height: 2.5rem;
    letter-spacing: .04rem;
    padding: 0;
    font-weight: 800;
    margin: 0 1rem;
}

/*portfolio*/



/*media queries*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
