/*standard ting*/
html {
    scroll-behavior: smooth;
}


section {
    max-width: 1200px;
    margin: 1rem;
}


.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

}

h1 {
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1.75rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h3 {
    font-family: 'Lato', sans-serif;
    margin-top: 1rem;
    font-size: 1.25rem;
    overflow: visible;
    margin: 2rem 2rem 1rem 2rem
}

h4 {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 1rem 2rem 0 2rem;
    font-weight: 700;
    text-decoration: none;

}

h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 500;

}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0 2rem 1rem 2rem;

}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

li a:active {
    color: black;
}

li a:visited {
    color: #5c5c5c;
}




section li {
    list-style-type: circle;
    margin: .25rem 2rem .25rem 2rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
}

section ul {
    margin: 0.5rem 0 1rem 0;
}

header {
    width: 100%;
    display: inline;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 0;
}

.col {
    flex-basis: 480px;
    flex-grow: 1;
    background-color: #e7dcc9;
    border-radius: 1rem;
}

.col_eks {
    flex-basis: 480px;
    flex-grow: 1;
    margin: 2rem 2rem;
}

.col_eks img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

img {
    width: 100%;
}

body {
    margin: 0px;
}



/*Menu*/

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(100%);

    opacity: 0;
}


#menuknap {
    display: inline-block;
    cursor: pointer;
    color: black;
    position: absolute;
    right: .5rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;


}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
    position: fixed;
    text-align: right;
    background: linear-gradient(90deg, rgba(191, 181, 168, 0) 0%, rgba(184, 172, 157, 0.7035014689469538) 0%, rgba(166, 149, 128, 1) 100%);
    width: 100%;
    top: 1.5rem;
    padding: 0;
}


#menu a {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    line-height: 3rem;
    letter-spacing: .05rem;
    padding: 0;
    font-weight: 700;
    margin: 0 1rem;
    font-family: 'Raleway', sans-serif;
}

/* Splash billede */
#splash {
    height: 100vh;
    width: 100vw;
    max-width: none;
    background-image: url(billeder/portfolio_splash_mob.jpg);
    background-size: cover;
    margin: 0;
}

/*Grundlæggende HTML*/

.col img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

/* .se_knap {
    width: 18rem;
    height: 3rem;
    border-radius: 0.8rem;
    text-align: center;
    margin: 1rem;
    padding: 0.6rem;
    background-color: #A69580;
} */

/*Grundlæggende UX*/
.col_lille {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 1rem;
    justify-content: center;
    background-color: #e7dcc9;
    border-radius: 1rem;
}


.col_stor {
    flex-basis: 500px;
    flex-grow: 1;
    margin: 1rem;
    justify-content: center;
}

.col_stor img {
    width: 212px;
    justify-content: center;
    margin: .6rem;

}

#grundlaeggende_ux .col {
    flex-basis: 500px;
}

.col_stor img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

.col_doku {
    flex-basis: 400px;
    margin: 0.5rem;
    flex-grow: 1;
    border-radius: 1rem;
}

#doku_baggrund {
    background-color: #e7dcc9;
    border-radius: 1rem;

}

.col_doku img {
    width: 100%;
}

.col_doku img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.03);
}



.doku_img {
    margin: 1rem;
}

/* Animation */
#animation .sectionwrapper {
    background-color: white;
}

#animation .col {
    background-color: white;
}


#animation img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.02);
}

.col_3 img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.03);
}

.col_4 {
    margin: 1rem;
}

.col_4 img {
    width: 100%;
}

.col_4 img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.03);
}

.col_spil img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.03);
}

.col_hel {
    flex-basis: 1000px;
    flex-grow: 1;
    margin: 1rem;
    justify-content: center;
    background-color: #e7dcc9;
    border-radius: 1rem;
}

/* INDHOLD */
video {
    width: 100%;
}

/* OM */
#om p {
    margin-top: 2rem;
}

/*media queries*/
@media only screen and (min-width: 1087px) {
    header {
        width: 100%;
        display: inline;
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
        top: 0;
    }

    #menu {
        margin: 0;
        padding: 0;
        top: 0;
        text-align: center;
        background: #262424;

    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    h1 {
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 550px) {
    .col_4 img {
        max-width: 230px;
        max-height: 150px;
    }

    #splash {
        width: 100vw;
        height: 56.25vw;
        background-image: url(billeder/portfolio_splash.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 1095px) {
    .col_eks {
        flex-basis: 480px;
        flex-grow: 1;
        margin: 0 2rem;
    }

}

@media only screen and (min-width: 1216px) {
    section {
        margin: auto;
    }
}
